/* general */
:root{
	--wt: white;
	--blk: black;
	--heavenly: #B5DDFF;
	--blue: #0084FD;
	--dark-grey: #333333;
	--violet: #9792E4;
	--not-wt: #F4F4F4;
	--amber: #FDC15F;
	--card-txt: #5a6e7f;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


/* repetitive stuff */


.flex{
	display: flex;
}
.j-btwn{
	justify-content: space-between;
}
.a-cnt{
	align-items: center;
}
.wrap{
	flex-wrap: wrap;
}
li{
	list-style: none;
}
.btn{
	padding: .5em .8em;
	border-radius: 1.5em;
	cursor: pointer;
	display: inline-block;
}
.title{
	font-size: 2em;
}
.txt-cnt{
	text-align: center;
}
.wt-txt{
	color: var(--wt);
}
.blk-txt{
	color: var(--blk);
}
.bg-wt{
	background-color: var(--wt);
}
.bg-vio{
	background-color: var(--violet);
}
.vio{
	color: var(--violet);
}
.card{
	border-radius: 1.5em;
	margin: 1em;
}
/* specific selectors */

/* top-bar */
.top-bar{
	background-color: var(--blue);
	font-weight: 400;
	padding: .7em 1.5em;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}
.top-bar a{
	text-decoration: none;
}

.wrapper{
	max-width: 100%;
}

.top-bar ul{
	width: 30%;
	display: none;
}

/* first section */
.frst-section .card{
	background-color: var(--heavenly);
}
section{
	padding: 4rem 1.5rem;
}
.frst-section{
	margin-top: 5em;
}

.card-txt{
	padding: 1.5em;
	text-align: center;
}
.frst-card{
	text-align: left;
}
.card-txt h2, .icon{
	color: var(--blue);
}
.card-txt p{
	margin: 1.5em 0;
	color: var(--card-txt);
	font-weight: bold;
}
.card-txt .btn{
	background-color: var(--blue);
	font-weight: bold;
	letter-spacing: .1em;
	text-align: center;
	width: 10em;
}
.card img{
	width: 100%;
	margin-bottom: -5px;
}
.icon i{
	font-size: 5em;
	margin: .2em 0 0.5em;
}

 /* second section */
#planning img{
	width: 100%;
}
p{
	line-height: 2em;
	margin: 2em 0;
}
.sub{
	padding: 1.5em;
	border-radius: 3em;
}
#planning .sub p{
	font-style: italic;
}
.arrow{
	display: inline-block;
	line-height: 3em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
}

/* third section */
#testimonials h2{
	margin-top: 1em;
}
.caps{
	text-transform: uppercase;
}
.user{
	width: 100%;
	margin: 1.5em 0;
}
.face{
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.nat{
	background-image: url(../img/testimonial1.jpg);
}
.celia{
	background-image: url(../img/testimonial2.jpg);
}
.bob{
	background-image: url(../img/testimonial3.jpg);
}
.user .caps{
	letter-spacing: .1em;
	font-weight: bold;
	margin: 1em 0;
}
 /* fourth section */
#features .card{
	padding: 1.5em;
}
#features .card .btn{
	font-weight: bold;
	letter-spacing: .1em;
	width: 7em;
}
.numb{
	font-size: 2.5em;
}
.ref .face{
	background-image: url(../img/about.jpg);
	position: relative;
}
.ref .face i{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 5em;
}
.ref h2{
	line-height: 2em;
	margin-bottom: 1em;
}
.ref span::before{
	content: '\f08c';
	font-family: "Font Awesome 6 Brands";
}